<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="dist/css/style.css">
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
    <title>Document</title>
</head>
<body>
    <div class="containerbody">
        <div class="titlebar">
            <div class="titlebarheader">
                <h1>View / Edit Event</h1>
            </div>
            <div class="titlebarbuttons">
                <div class="save" id="save">Save</div>
                <div class="exit" id="exit">Exit</div>
            </div>
        </div>
        <div class="windowbody">
            <div class="titlebarbody">
                <h2>Event details</h2>
            </div>
            <div class="row">
                <div class="choicerow">
                    <h3>Event type:</h3>
                    <div class="radio">
                        <input id="radio-1" name="radio" type="radio" checked>
                        <label for="radio-1" class="radio-label">Touristenfahrten</label>
                    </div>
                    
                    <div class="radio">
                        <input id="radio-2" name="radio" type="radio">
                        <label  for="radio-2" class="radio-label">Trackday</label>
                    </div>
                    
                    <div class="radio">
                        <input id="radio-3" name="radio" type="radio">
                        <label for="radio-3" class="radio-label">Road tour</label>
                    </div>
                    <div class="radio">
                        <!-- <input id="radio-3" name="radio" type="radio" disabled> -->
                        <input id="radio-3" name="radio" type="radio">
                        <label for="radio-3" class="radio-label">Event</label>
                    </div>
                </div>
            </div>
            <div class="eventdetails">
                <div class="containercolumn1">
                    <h3>Event name:</h3>
                    <h3>Date:</h3>
                    <h3>Staff responsible:</h3>
                </div>
                <div class="containercolumn2">
                    <input id="eventname" name="eventname" type="text" class="eventname"><br>
                    <!-- <input id="date" name="date" type="text" class="datebox"> -->
                    <input id="date" name="date" type="date" class="date"><br>
                    <!-- <input id="staff" name="staff" type="select"> -->
                    <select id="staff" class="staff">
                        <option value="empty"> </option>
                        <option value="jc">Jonathan Chan</option>
                        <option value="ck">Christoph Koch</option>
                        <option value="rs">Ray Shepherdson</option>
                        <option value="sv">Serxio Veiga</option>
                    </select> 
                </div>
                <div class="containercolumn3">
                    <div class="choicerow">
                        <h3>Location:</h3>
                        <select id="location" class="location">
                            <option value="ns">Nordschleife</option>
                            <option value="sp">Spa-Francorchamps</option>
                            <option value="ib">Iberia</option>
                        </select>
                        <h3>Track:</h3>
                        <input id="track" name="track" type="text" class="track" value="Nordschleife">
                    </div>
                    <div class="choicerow">
                        <h3>Time start:</h3>
                        <input type="text" name="timepickerstart" class="timepickerstart" value="08:00">
                        <h3>Time finish:</h3>
                        <input type="text" name="timepickerfinish" class="timepickerfinish" value="16:00">
                    </div>
                    <div class="choicerow">
                        <h3>Hide from overview when no bookings:</h3>
                        <input type="checkbox" name="hidebooking" class="checkbox" value="hidebooking">
                        <h3>Hide from public calendar:</h3>
                        <input type="checkbox" name="hidecal" class="checkbox" value="hidecal">
                    </div>
                </div>
            </div>
            
            
            <div class="titlebarbody"><h2>Internal information</h2></div>
            <div class="titlebarbody"><h2>Public pricing</h2></div>
            <div class="titlebarbody"><h2>Public information</h2></div>
        </div>
    </div>
</div>

</body>

</html>